@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu+Condensed&family=Varela+Round&display=swap');

html,body{
    height: 100%;
    width: 100%;
}

.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.row{
    margin: 10px 0;
}

.row input{
    width: 296px;
    margin: 0;
    font-size: 20px;
    padding: 10px 3px;
    border: 2px solid;
    border-radius: 5px;
}